body{
  background-color: #F1F1F1;
}
.App {
  text-align: start;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #F1F1F1;
}

h2 {
  border-bottom: 2px solid #b1b1b8 ;
  height: 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

button {
  width: 87px;
  height: 40px;
  border-radius: 100px;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 5rem;
  position: absolute;
  bottom: 0;
}

.df {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}


.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
}
.greetings {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.inter500 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.inter500-pro {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
}